body {
    font-family: "Roboto", sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.calcContainer {
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.364);
}
.display {
    display: flex;
    background-color:rgb(75, 75, 75);
    min-height: 100px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.outerColumn, .innerColumn, .numerics{
    display: flex;
    flex-direction: column;
}
.buttons {
    display: flex;
}
.numerics button, .innerColumn button {
    background-color: rgb(244, 244, 244);
    width: 100px;
    height: 100px;
}
.numerics button {
    margin: 4px 2px;
}
.numerics button:hover {
    background-color:rgb(209, 209, 209);
}
.numerics button:active {
    background-color: rgb(166, 166, 166);
}
.innerColumn button{
    margin: 4px 0px 4px 6px;
    background-color: rgb(148, 255, 169);
}
.innerColumn button:hover{
    background-color: rgb(123, 227, 144);
} 
.innerColumn button:active{
    background-color: rgb(97, 196, 117);
} 
#zero {
    width: 209px;
}
#equal {
    background-color: rgb(11, 120, 48);
    color: white;
}
#equal:hover {
    background-color: rgb(12, 99, 41);
    color: white;
}
#equal:active {
    background-color: rgb(5, 85, 32);
    color: white;
}
#decimal {
    background-color: rgb(212, 255, 235);
}
#decimal:hover {
    background-color: rgb(183, 228, 208);
}
#decimal:active {
    background-color: rgb(134, 194, 161);
}
.outerColumn button {
    background-color: rgb(71, 208, 117);
    width: 100px;
    height: 136px;
    margin: 4px 0px 4px 8px;
}
.outerColumn button:hover{
    background-color: rgb(57, 174, 96);
} 
.outerColumn button:active{
    background-color: rgb(40, 142, 74);
} 
button {
    border-radius: 10px;
    border-width: 0px;
    font-size: 25px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.364);
    transition: background-color 0.2s;
}
button:hover {
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
}